<div class="addon-Table">
  <p class="table-title">Productos</p>
  <div class="button-container">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-success"></p-button>
    <p-button type="button" icon="pi pi-file-edit" styleClass="p-button-warning"></p-button>
    <p-button type="button" icon="pi pi-trash" styleClass="p-button-danger"></p-button>
  </div>
</div>
<div *ngIf="list.length>0" class="mt-10">
  <app-table [list]="list" key="_id" (selection)="handleSelection($event)"/>
</div>
